<!doctype html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>AAuth</title>
	</head>

	<body>
		<%
			if ( auth ) {
				%> 
					Авторизован <%=user.login%> 
					<a href='/auth/logout'>Уйти</a>
				<%
			} else {
				%>
					Никто не авторизован :( 
					<br>
					Но вы можете зарегистрироваться: 
					<form action='/auth/reg' method='post'>
						<input type='text' name='login' placeholder='login'>
						<input type='email' name='email' placeholder='email'>
						<input type='password' name='password'>
						<input type='submit'>
					</form>
					<hr>
					Ну или Login:
					<form action='/auth/password' method='post'>
						<input type='text' name='login' placeholder='email или login'>
						<input type='password' name='password'>
						<input type='submit'>
					</form>
					<hr>
					Вы, кстати, можете попробовать и через соцки зареганиться.
					<a href='/auth/twitter'>Через твитку</a>
					<a href='/auth/facebook'>фэсбушка (не фурычит покачто)</a>
				<%
			}
			%>
	</body>
</html>